body {
    color: #707070;
}

th {
    border: 1px solid #ebebeb;
}

.navbar {
    background: #00a5e4;
}

.navbar-brand {
    padding-top: 0.5rem;
}

.destaque {
    background: url(../img/imagens-destaque.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 10px;
}

.texto-branco {
    color: #fff;
}

.active-mo::after {
    content: '';
    width: 150px;
    height: 10px;
    background: #00a5e4;
    display: block;
}

.input-busca {
    padding-left: 25px;
    background: url(../img/icone-lupa.svg) no-repeat left;
    background-size: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #0fa5e4;
    border-color: #0fa5e4;
}

.linha-azul {
    width: 100%;
    height: 20px;
    background: #00a5e4;
}

.texto-azul {
    color: #00a5e4;
}

.bg-cinza {
    background: #b1b1b1;
}

.page-link {
    padding: 1rem 0.75rem;
    border: 2px solid #b1b1b1;
    color: #b1b1b1;
    border-radius: 10px!important;
    font-size: 0.6em;
}

.page-link:hover {
    color: #b1b1b1;
    background-color: transparent;
    border-color: #b1b1b1;
}

.page-link:focus {
    color: #b1b1b1;
    background-color: transparent;
    border-color: #b1b1b1;
}

.page-position {
    margin: 0px 20px;
    border: none;
}

.page-item.disabled .page-link {
    color: #b1b1b1;
}

.btn-baixar {
    width: 60px;
}